DirectoryIndex jtan.php

RewriteEngine On

#---------
#Build Numb
RewriteRule (.*) - [E=build:v0.0.0]

#Skull Vars
RewriteRule (.*) - [E=skull_root:C:/_/JAT/skullframework/_skull/]
RewriteRule (.*) - [E=skull_domain://skull.com/]

#App Vars
RewriteRule (.*) - [E=root:%{DOCUMENT_ROOT}%{ENV:build}/]
RewriteRule (.*) - [E=domain://%{HTTP_HOST}/]
#---------

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ $1/ [L]

RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} index.php
RewriteRule ^(.*)$ %{ENV:build}/_spec/func/route.php?uri=$1

php_value post_max_size 300M
php_value upload_max_filesize 300M