/* Body
/* ------------------------------------------------------------------------------------------------ */
html, body{
  height: 100%;
}

/* Notice
/* ------------------------------------------------------------------------------------------------ */
.notice_prop{
  position: fixed;
  right: 1px;
  bottom: -19px;
  z-index: 1040;
}

.notice_div{
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.err_main_div{
  position: absolute;
}

.info .close{
  margin-top: -1px !important;
}

/* Static Form
/* ------------------------------------------------------------------------------------------------ */
.content_main_div{
  background: #FFF;
}

.content_main_div .close{
  margin-top: -5px;
}

.content_main_div .caret{
  margin-top: -5px;
  border-top: 9px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.content_main_div .option{
  position: absolute;
  top: 20px;
  right: 50px;
}

@media(max-width: 767px){
  .content_main_div .navbar-right{
    float: right !important;
    margin-right: -15px;
  }

  .content_main_div .navbar-right .dropdown-menu{
    right: 0px;
    left: auto;
  }
}

.content1_main_div .option{
  position: absolute;
  top: 15px !important;
  right: 30px !important;
}

.content1_main_div .submit_main_div{
  right: 0;
  bottom: 5px;
}

/* Modal Form
/* ------------------------------------------------------------------------------------------------ */
.form0_prop{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.form0_main_div{
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.form0_main_back_div{
  position: fixed;
}

.form0_back_div{
  position: fixed;
}

.form0_content_div{
  background: #FFF;
  position: relative;
  margin: 15px;
  padding: 0 15px;
  z-index: 1030;
}

.form0_content_div .close{
  margin-top: -5px;
}

.form0_load_div .caret{
  margin-top: -5px;
  border-top: 9px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.form0_load_div .option{
  position: absolute;
  top: 20px;
  right: 50px;
}

@media(max-width: 767px){
  .form0_load_div .navbar-right{
    float: right !important;
    margin-right: -15px;
  }

  .form0_load_div .navbar-right .dropdown-menu{
    right: 0px;
    left: auto;
  }
}

.form1_prop{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1031;
}

.form1_main_div{
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.form1_main_back_div{
  position: fixed;
}

.form1_back_div{
  position: fixed;
}

.form1_content_div{
  background: #FFF;
  position: relative;
  margin: 15px;
  padding: 0 15px;
  z-index: 1031;
}

.form1_content_div .close{
  margin-top: -5px;
}

.form1_load_div #field_search_main_div{
  display: none;
}

.form1_load_div #field_add_record_link{
  display: none;
}

.form2_prop{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1032;
}

.form2_main_div{
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.form2_main_back_div{
  position: fixed;
}

.form2_back_div{
  position: fixed;
}

.form2_content_div{
  background: #FFF;
  position: relative;
  margin: 15px;
  padding: 0 15px;
  z-index: 1032;
}

.form2_content_div .close{
  margin-top: -5px;
}

.form2_load_div .option{
  display: none;
}

.form3_prop{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1033;
}

.form3_main_div{
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.form3_main_back_div{
  position: fixed;
}

.form3_back_div{
  position: fixed;
}

.form3_content_div{
  background: #FFF;
  position: relative;
  margin: 15px;
  padding: 0 15px;
  z-index: 1033;
}

.form3_content_div .close{
  margin-top: -5px;
}

.form3_load_div .option{
  display: none;
}

/* Table
/* ------------------------------------------------------------------------------------------------ */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{
  background-color: gray;
}

.table-res{
  margin-top: 2px;
  margin-bottom: 3px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-res > .table{
  margin-bottom: 0;
}

.table-res > .table > thead > tr > th,
.table-res > .table > tbody > tr > th,
.table-res > .table > tfoot > tr > th,
.table-res > .table > thead > tr > td,
.table-res > .table > tbody > tr > td,
.table-res > .table > tfoot > tr > td{
  white-space: nowrap;
}

td a,
td a:hover{
  color: #FFF;
}

/* Anchor
/* ------------------------------------------------------------------------------------------------ */
a{
  text-decoration: none;
}

a:hover,
a:focus{
  text-decoration: none;
}

/* Button
/* ------------------------------------------------------------------------------------------------ */
.submit_main_div{
  position: absolute;
  right: 69px;
  bottom: 20px;
}

/* Line Break
/* ------------------------------------------------------------------------------------------------ */
h1, h2, h3{
  margin-top: 0;
  margin-bottom: 20px;
}

/* Pager
/* ------------------------------------------------------------------------------------------------ */
.btn-group .btn_prop{
  border-left: 1px solid #CCC;
}

.btn-group .btn_prop:hover{
  border-right: 1px solid #CCC;
}

.btn-group .btn_prop:first-child{
  border-left: none;
}

.btn-group .btn_prop:last-child{
  border-right: none;
}

.go_to_field{
  width: 30px;
  height: 18px;
  border: 0;
}

/* Field
/* ------------------------------------------------------------------------------------------------ */
.view_field{
  padding: 5px 10px;
  font-size: 12px;
  color: #555;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.chosen-container{
  width: 100% !important;
}

.chosen-results {
  max-height: 100px !important;
}

.tri_span{
  position: absolute;
  top: 8px;
  right: 26px;
  width: 15px;
  height: 14px;
}

.tri_span:hover{
  background: #F1F1F1;
}

.triup_span{
  position: absolute;
  width: 15px;
  height: 7px;
}

.tridown_span{
  position: absolute;
  top: 7px;
  width: 15px;
  height: 7px;
}

.triup{
  position: absolute;
  top: 2px;
  left: 3px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid;
  border-left: 4px solid transparent;
}

.tridown{
  position: absolute;
  top: 1px;
  left: 3px;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.triup_span:hover, .tridown_span:hover{
  background: #CCC;
}

a .tri_span{
  position: relative;
  top: 2px;
  right: -5px;
}

.ui-datepicker{
  z-index: 1040 !important;
}

.upload{
  cursor: pointer;
}

.remove{
  cursor: pointer;
  float: right;
}

.upload_item_main_div{
  position: absolute;
    top: 140px;
    right: 0;
    left: 0;
}

.upload_item_main_div .progress{
  margin-bottom: 1px;
}

audio{
  width: 100%;
}

video{
  width: 100%;
  height: 100%;
}

/* Reusable
/* ------------------------------------------------------------------------------------------------ */
.pointer{
  cursor: pointer;
}

.arrow{
  cursor: default;
}

.err{
  color: red;
}

.ok{
  color: green;
}

.info{
  color: gray;
  opacity: 1;
  font-weight: normal;
}

.fine{
  color: blue;
}

.none{
  color: red;
  text-align: center;
  border-bottom: 1px solid #DDD;
  margin-bottom: 5px;
}

.notice_err{
  border-color: red;
}

.notice_ok{
  border-color: green;
}

.notice_info{
  border-color: gray;
}

.notice_fine{
  border-color: blue;
}

.radius{
  border-radius: 10px;
}

.hr{
  border-color: #CCC;
  margin-top: 0;
  margin-right: -15px;
  margin-left: -15px;
}

.border{
  border: 1px solid #CCC;
}

.float_left{
  float: left;
}

.float_center{
  float: none;
  margin: auto;
}

.float_right{
  float: right;
}

.align_left{
  text-align: left;
}

.align_center{
  text-align: center;
}

.align_right{
  text-align: right;
}

.no_pad_left{
  padding-left: 0;
}

.no_pad{
  padding-right: 0;
  padding-left: 0;
}

.no_pad_right{
  padding-right: 0;
}

.margin_left{
  margin-left: 10px;
}

.no_margin{
  margin-right: 0;
  margin-left: 0;
}

.hide{
  display: none;
}